.App_Movie{
  text-align: center;
}
.card_movie{
  width: 220px;
  border: solid 3px blueviolet;
  text-align: center;

}
.image_movie{
  width: 200px;
}
.cards{
  display: flex;
  justify-content: space-around;
}